upstream backend {
	ip_hash;
  {% for host in groups['backend'] %}
    server {{ hostvars[host]['ansible_host'] }};
  {% endfor %}
}

server {
	listen 80;
	# server_name example.com;
	
	location / {
		proxy_pass http://backend;
		proxy_set_header Host $http_host;
	}
}
